@model IEnumerable<DPuga_Evaluación1erProgreso.Models.DPugaClientes> 

@{
    ViewData["Title"] = "lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

<p>Agrega un nuevo cliente o consulta la información de alguno</p>

<h2>Clientes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>            
            <th>Fecha de registro</th>
            <th>Tiene membresia</th>
            <th>Monto de la reserva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nombre</td>
                <td>@cliente.FechaNacimiento de registro</td>
                <td>@cliente.TieneMembresia membresia</td>
                <td>
                    <a asp-action="Edit" asp-controller="DPugaClientes" asp-route-id="@cliente.IdCliente" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-controller="DPugaClientes" asp-route-id="@cliente.IdCliente" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-controller="DPugaClientes" asp-route-id="@cliente.IdCliente" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
