@model DPuga_Evaluación1erProgreso.Models.DPugaClientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DPugaClientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieneMembresia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieneMembresia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoReserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
